&i2c1{
	compatible="nordic,nrf-twim";
	status = "okay";
	// reg = <0x40004000 0x1000>;
	sda-pin = <7>;
	scl-pin = <8>;
	clock-frequency = <I2C_BITRATE_STANDARD>;
	twis_device1:MS5367@EC {
		// compatible = "nordic,sensor";
		label = "Sensor";
		reg = <0x70>;
	};
	twis_device2:SHTC3@70{
		label = "SHT3 humidity and temperature sensor at addr 0x70";
		reg = <0x70>;
	};
};
