&i2c1{
	compatible="nordic,nrf-twim";
	status = "okay";
	sda-pin = <7>;
	scl-pin = <8>;
	clock-frequency = <I2C_BITRATE_STANDARD>;
	twis_device1:MS5367@ec {
		// compatible = "nordic,sensor";
		label = "Sensor";
		reg = <0xEC>;
	};
	SHTC3@70{
		compatible = "sensirion,shtcx";
		chip = "shtc3";
		measure-mode = "normal";
		label = "SHT3 at addr 0x70";
		reg = <0x70>;
	};
};


